<p style="color: green"><%= notice %></p>

<%= render @user %>

<div>
  <% if user_signed_in? %>
    <%= link_to "Edit this user", edit_user_path(@user) %> |
    <%= button_to "Destroy this user", @user, method: :delete %>
    <%= button_to "Create new card", new_card_path, method: :get %>
  <% end %>
  <%= link_to 'Back to Search', root_path, class: 'btn btn-secondary' %>

</div>
