<div id="<%= dom_id card %>">
  <p>
    <strong>Card name:</strong>
    <%= card.card_name %>
  </p>

  <p>
    <strong>Card type:</strong>
    <%= card.card_type %>
  </p>

  <p>
    <strong>Card image:</strong>
    <%= card.card_image %>
  </p>

  <p>
    <strong>Set:</strong>
    <%= card.set %>
  </p>

  <p>
    <strong>Card price:</strong>
    <%= card.card_price %>
  </p>

  <p>
    <strong>User:</strong>
    <%= card.user_id %>
  </p>

</div>
