<p style="color: green"><%= notice %></p>
<div class='m-2 w-25'>

<h1>Cards</h1>

<!-- creates a table to present cards -->
<%if @cards.present?%>
<table class="table table-bordered table-striped" aria-label="List of students and their information"> 
<caption class="visually-hidden">Table listing students' first names, last names, majors, and graduation dates, along with action buttons for each student.</caption>
  <thead>
    <tr> <!-- creates the headings for the table head -->
      <th scope="col">Card Name</th>
      <th scope="col">Set Name</th>
      <th scope="col">Card Type</th>
    </tr>
  </thead>
  <tbody> 
    <%@cards.each do |card|%>
      <tr> <!-- iterates through the search results (collection of objects) to allow information to be put into the table -->
        <td><%= card.card_name %></td>
        <td><%= card.set %></td>
        <td><%= card.card_type %></td>
        <td>
          <div class="d-flex flex-row justify-content-center"> <!-- creates buttons to show, edit and delete card paths -->
            <%= link_to 'Show', card_path(card), class: "btn btn-primary btn-sm m-1", aria: { label: "Show details for #{card.card_name}" }%>
            <%= link_to 'Edit', edit_card_path(card), class: "btn btn-secondary btn-sm m-1", aria: { label: "Edit details of #{card.card_name}" }%>
            <%= button_to 'Delete', card_path(card), method: :delete, class: "btn btn-danger btn-sm m-1", aria: { label: "Delete card #{card.card_name} #{card.card_type}" }%>
          </div>
        </td>

      </tr>
    <%end%>
  </tbody>
</table>
<%end%>
<!--
<div id="cards">
  <% @cards.each do |card| %>
    <%= render card %>
    <p>
      <%= link_to "Show this card", card %>
    </p>
  <% end %>
</div>  -->

<%= link_to "New card", new_card_path, class: "btn btn-secondary" %>
<%= link_to 'Back to Search', root_path, class: 'btn btn-secondary' %>
